name: Deploy lambda

on:
  deployment

jobs:
  log-params:
    steps:
      run: echo "payload ${{github.event.deployment.payload}}"
  build-and-deploy:
    if: contains(github.event.deployment.payload, 'lambda')
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Build
        run: ./gradlew build

      - name: Setup Node.js
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'
      - name: Install Serverless Framework
        run: |
          npm install serverless -g

      - name: Deploy to Lambda JobEnqueue
        run: sls deploy --stage ${{ github.event.deployment.environment }} -v
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets[format('AWS_ACCESS_KEY_ID__{0}', github.event.deployment.environment)] }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets[format('AWS_SECRET_ACCESS_KEY__{0}', github.event.deployment.environment)] }}

      - name: Update Deployment Status
        if: always()
        run: |
          curl \
            -H "Authorization: token ${{ github.token }}" \
            -X POST \
            -d "{ \"state\": \"${${{ format('DEPLOYMENT_STATE__{0}', job.status) }}}\" }" \
            https://api.github.com/repos/${{ github.repository }}/deployments/${{ github.event.deployment.id }}/statuses
        env:
          # ジョブのステータスにより変化する値。環境変数名が大文字・小文字を区別するため、job.statusの部分は小文字の部分が混ざっている。
          DEPLOYMENT_STATE__Success: success
          DEPLOYMENT_STATE__Cancelled: error
          DEPLOYMENT_STATE__Failure: error